#home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 50px;
    min-height: 90vh;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 200px;
    height: 60px;
    padding: 0.5;
    background-color: #6517ab;
    color: #fff;
    font-weight: 400;
    font-size: 1.1rem;
    border-radius: 0.3rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.5s;
}

button:hover {
    background-color: #6517abe7;
}

#home .text-container {
    flex: 1 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text-container h1 {
    font-size: 3.7rem;
    line-height: 120%;
    font-weight: 500;
    color: #303030;
    font-style: normal;
    margin-bottom: 1rem;
}

.text-container p {
    font-size: 1.3rem;
    max-width: 600px;
    line-height: 150%;
    color: rgb(48, 48, 48);
    font-style: normal;
    font-weight: 300;
    margin-bottom: 1rem;
}

.text-container button {
    width: 150px;
    height: 50px;
}

#home .photo-container {
    flex: 1 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-container img {
    max-width: 100%;
    border-radius: 0.5rem;
}

@media (max-width: 992px) {
    #home {
        padding: 0 10px;
    }

    .text-container p {
        max-width: 100%;
    }

    .content {
        text-align: center;
    }

    #home .photo-container {
        display: none;
    }
}

@media (max-width: 768px) {
    .text-container h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 420px) {
    .text-container h1 {
        font-size: 1.4rem;
    }

    .text-container p {
        font-size: 1.1rem;
    }
}