#home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 50px;
    border-bottom: 1px solid #b7b7b7;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 150px;
}

#home .text-container {
    flex: 1 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.text-container h1 {
    font-size: 4rem;
    line-height: 120%;
    font-weight: 500;
    color: #303030;
    font-style: normal;
    margin-bottom: 1rem;
}

.text-container p {
    font-size: 1.3rem;
    max-width: 600px;
    line-height: 150%;
    color: rgb(48, 48, 48);
    font-style: normal;
    font-weight: 300;
    margin-bottom: 1rem;
}

.text-container button {
    width: 150px;
    height: 50px;
}

#home .photo-container {
    flex: 1 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-container img {
    max-width: 100%;
    border-radius: 0.5rem;
}

.logos {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}

@media (max-width:992px) {
    #home .grid {
        display: flex;
        padding: 0;
        justify-content: center;
        align-items: center;

    }

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-block: 150px;
    }

    #home .text-container {
        margin-bottom: 2rem;
    }
}

@media (max-width:768px) {

    .text-container h1 {
        font-size: 4rem;
        line-height: 120%;
        font-weight: 500;
        color: #303030;
        font-style: normal;
        margin-bottom: 1rem;
    }
}