header {
    position: fixed;

    width: 100%;
    top: 0;
    left: 0;
    padding: 15px 10%;
    background-color: #ffffff;
}

nav {

    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav ul a {
    color: #000;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
}

button {
    width: 200px;
    height: 60px;
    padding: 0.5;
    background-color: #a023b9;
    color: #fff;
    font-weight: 400;
    font-size: 1.1rem;
    border-radius: 0.3rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.5s;

    &:hover {
        background-color: #a023b9e7;
    }
}

@media (max-width:768px) {
    nav button {
        display: none;
    }
}