@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
}

.grid {
    max-width: 1330px;
    margin: 0 auto;
}

::selection {
    background-color: #ff3333;
    color: #fff;
}

::-webkit-scrollbar {
    width: 10px;

}

::-webkit-scrollbar-thumb {
    background-color: #ff3333;
    border-radius: 10px;
}